h1 {
  color: red;
  text-align: center;
  font-weight: bold;
  
}
h2 {
  color: yellow;
  text-align: center;
  font-weight: bold;
}
a {
  text-decoration: none;
} /*link chiziqsiz*/ 
.par {
  text-align: end;
  color:blue;
  background-color: blueviolet;
}
#hashtag {
  color: green;
  text-align:right;
  font-weight: bold;
  border:solid;
  text-decoration: double;
} easy tutorials you tube

