* {
  box-sizing: border-box;
  font-family: 'Monserrat', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.cards {
display: flex;
justify-content: space-between;
}

.card {
  border-radius: 1rem;
  padding: 1.5rem;
  color: rgb(216, 79, 79);
  width: 31%;
}

.card a {
  border-radius: 2rem;
  background-color: rgba(0, 0, 0, 0.4);
  color:white;
  width: 32%;
  text-decoration: none;
  padding: .3rem  .8rem;

}


.title {
  font-size: 1.5rem;
  line-height: 15px;
  margin-top: 0;
}

.text {
  line-height: 31px;
  letter-spacing: .1rem;
}

.card:first-child { background-color: rgb(118, 204, 205);}
.card:nth-child(2) { background-color: rgb(205, 118, 164);}
.card:last-child { background-color: rgb(133, 118, 205);}








.orab {
  max-width: 400px;
  background-color: aqua;
  padding: 10px;

}

.orab-1 {
  width: 400px;
}

.LM {
  width: 100px;
border: 5px solid green;
}

cont {
  
  max-width: 400px;
  background-color:yellow
  padding: 10px;
}

cont-1 {
  width: 400px;
}