* {
  font-family: mulish;
}

h3 { width: 212px; height: 56px;
   text-align: center;
  border-style: solid;
}

a {
  text-decoration: none;
  text
}
.okno {
  height: 400px;
  width: 300px;
  display:flex;
}
.chap {
  height: 400px;
  width: 300px;
  display: inline-block;
}
