* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {list-style-type: none;}
body {
  background-color: aqua;
}

.wrapper {

  background-color:white;
  border: 1px solid green;
  margin: 0 auto;
  margin-top:10rem;
  width: 400px;
}

.nav 
{ background-color:bisque;
  max-width: 800px;
  width: 400px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.weeks li {
  display: inline-block;
  width: 10%;
  text-align: center;

}

.wrdays {
display: inline-block;
}

.days {
margin: 0;
padding: 10px 0;

}

.day li {
  list-style-type: none;
  display: inline-block;
  width: 10px;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}